<a href="https://colab.research.google.com/github/shariq001/Python/blob/main/02_Data_Types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Data Types

##1.  String Types

In [2]:
name : str = 'Muhammad Shariq'
print(type(name), "name = ", name)

<class 'str'> name =  Muhammad Shariq

##2.  Numeric Types

###2.1 Integer

In [1]:
num1 : int = 56
print(type(num1), "num1 = ", num1)

<class 'int'> num1 =  56

###2.2 Floating Point

In [5]:
pi : float = 3.142
# It is used to store decimal numbers.

print(type(pi), "pi = ", pi)

<class 'float'> pi =  3.142

###2.3 Complex

In [8]:
comp_num : complex = 4 + 5j

print(type(comp_num), "Complex Num = ", comp_num)

<class 'complex'> Complex Num =  (4+5j)

##3. Boolean (bool)

In [10]:
is_mal : bool = True
is_fem : bool = False

print(type(is_mal), "is_male = ", is_mal, type(is_fem), "is_female = ", is_fem)

<class 'bool'> is_male =  True <class 'bool'> is_female =  False

##4. Sequence Types

###4.1 String

In [13]:
text_double: str  = "Hello, Double Quote String!" # Strings with (")
text_single: str  = 'Hello, Single Quote String!' # Strings with (')
text_multi: str   = '''Hello, Multi Line Single Quote String!''' # Multi-Line Strings (''' or """)
text_multi_1: str = """Hello, Multi Line Double Quote String!""" # Multi-Line Strings (''' or """)

print(type(text_double), " text_double   = ", text_double)
print(type(text_single), " text_single   = ", text_single)
print(type(text_multi), " text_multi    = ", text_multi)
print(type(text_multi_1), " text_multi_1  = ", text_multi_1)

<class 'str'>  text_double   =  Hello, Double Quote String!
<class 'str'>  text_single   =  Hello, Single Quote String!
<class 'str'>  text_multi    =  Hello, Multi Line Single Quote String!
<class 'str'>  text_multi_1  =  Hello, Multi Line Double Quote String!

We use Double Quotes ("") When the string contains inside Single Quotes ('') and the multi line strings are also called Docstrings.

###4.2 List

In [15]:
list_1 : int = [18, "Python", 3.142, True]

#There is stil no type hinting but you should mention appropriate types!

list_2 : list = [18, "Hello Python", 3*10^8, False]

print(type(list_1), "List 1: = ", list_1) # Type will be list as no type hinting.
print(type(list_2), "List 2: = ", list_2) # Type will be list as defined above

<class 'list'> List 1: =  [18, 'Python', 3.142, True]
<class 'list'> List 2: =  [18, 'Hello Python', 22, False]

###4.3 Tuple
An ordered Collection of Items can be of different types!

In [18]:
tuple_1 : tuple = (1024, "Muhammad", 3.142, False, .3, 3+2j)

print(type(tuple_1), "Tuple 1 = ", tuple_1)

# Printing Specific Tuple Item (starts with zero)
print(tuple_1[0])
print(tuple_1[5])

<class 'tuple'> Tuple 1 =  (1024, 'Muhammad', 3.142, False, 0.3, (3+2j))
1024
(3+2j)

###4.4 Range (range)

In [31]:
range_1 : range = range(0, 10, 4)

# range defines the loop, the first value is where to start, the second is where
# to stop, and the third one is where to step (means skipping that value).
# It is commonly used in loops

print(type(range_1), "Range 1 = ", range_1)

# Printing the Skipped or the Step (The third One).

print(range_1.step)

# Using in for loop

print("Start Stop and Step (1, 10, 2)")

for i in range(1, 10, 2):
  print(i)

  #This will skip all the divisibles of two

print("Start and Stop Only (1 to 6)")

# You can also just set the Start and Stop and Skip the Third One
for i in range(1, 6):
  print(i)

<class 'range'> Range 1 =  range(0, 10, 4)
4
Start Stop and Step (1, 10, 2)
1
3
5
7
9
Start and Stop Only (1 to 6)
1
2
3
4
5

##5. Set Types
unordered collections with unique elements.

###5.1 Set

In [32]:
set_1 : set = {1, 5, 9, 13, 17}
print(type(set_1), "Set 1 = ", set_1)

<class 'set'> Set 1 =  {1, 17, 5, 9, 13}

###5.2 Frozen Set
A frozenset is an immutable version of a set in Python. Once created, its elements cannot be changed, added, or removed.

A frozenset (like a normal set) is unordered, meaning its elements do not have a fixed order. When you print a frozenset, Python may display the elements in any order, depending on how they are stored internally.

In [34]:
frozen_1 = frozenset([1, 9, 5, 13])
print(type(frozen_1), "Frozen Set = ", frozen_1)

<class 'frozenset'> Frozen Set =  frozenset({1, 13, 5, 9})

##6. Mapping Type
dictionary Stores the Key Value Pairs.

Key: value

In [35]:
dict_1 : dict = {"Name": "Muhammad Shariq", "Age": 18, "Language": "Python"}
print(type(dict_1), "Dictionary 1 = ", dict_1)

<class 'dict'> Dictionary 1 =  {'Name': 'Muhammad Shariq', 'Age': 18, 'Language': 'Python'}

##7. Binary Types
Binary types in Python are used to handle binary data, such as images, files, or network data. Python provides three built-in binary types:

###7.1 Bytes
Represents a sequence of bytes (similar to a string but in binary form).
Cannot be modified after creation.
Created using b"" notation.

In [36]:
data = b"hello"
print(data)
print(type(data))

b'hello'
<class 'bytes'>

###7.2 ByteArray (bytearray)
Similar to bytes but can be modified.
Useful when you need to edit binary data.

In [40]:
data = bytearray(b"hello")
data[0] = 72

# Changing 'h' to 'H'. 72 represents the ASCII value of 'H'.
#The original b"hello" has 'h' (which is ASCII 104).
#When we assign 72 to data[0], it changes 'h' to 'H' (ASCII 72).

print(type(data), data)  # Output: bytearray(b'Hello')

#You can check the ASCII value using:
print(ord('H'))  # Output: 72

<class 'bytearray'> bytearray(b'Hello')
72

###7.3 Memmory View (memoryview)
Provides a way to access binary data without copying it.
Useful for working with large datasets.

These types are mainly used for file handling, networking, and low-level data manipulation.

In [43]:
data = memoryview(b"Mission Successfull")

print(type(data), "data = ", data)

#Printing bytes with memoryview

print(bytes(data[0:5]))
#This will print words form 0 to 5 index include 5th index

# To show Memory Address
print("Memmory Address")

print( data[6: 10] )

<class 'memoryview'> data =  <memory at 0x790d10b947c0>
b'Missi'
Memmory Address
<memory at 0x790d10b94b80>