<a href="https://colab.research.google.com/github/shariq001/Python/blob/main/03_Operators_Keywords_and_Variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Operators in Python

#1. Arithmetic Operators

In [ ]:
a : int = 10
b : int = 5
c : int = 3

#Addition
print(f"a:{a} + b:{b} = {a + b}" )

#Substraction
print(f"a:{a} - b:{b} = {a - b}" )

#Multiplication
print(f"a:{a} * b:{b} = {a * b}" )

#Division
print(f"a:{a} / b:{b} = {a / b}" )

#Floor (Removes Decimal Part)
print(f"a:{a} // c:{c} = {a // c}" )

#Modulus (Prints remainder)
print(f"a:{a} % c:{c} = {a % c}" )

#Exponentiation (Prints the value of a with c number of times)
#If a = 10, and c = 3 so it will be 10 * 10 * 10
print(f"a:{a} ** c:{c} = {a ** c}" )

a:10 + b:5 = 15
a:10 - b:5 = 5
a:10 * b:5 = 50
a:10 / b:5 = 2.0
a:10 // c:3 = 3
a:10 % c:3 = 1
a:10 ** c:3 = 1000

#2. Comparision Operators

In [ ]:
x : int = 5
y : int = 3

#Equal to
print(f"{x} is equal to {y} = {x == y}" )

#Not Equal to
print(f"{x} is not equal to {y} = {x != y}" )

#Greater Than
print(f"{x} is Greater Than {y} = {x > y}" )

#Less Than
print(f"{x} is Less Than {y} = {x < y}" )

#Greater Than or Equal to
print(f"{x} is Greater Than or equal to {y} = {x >= y}" )

#Less Than or Equal to
print(f"{x} is Less Than or equal to {y} = {x <= y}" )

5 is equal to 3 = False
5 is not equal to 3 = True
5 is Greater Than 3 = True
5 is Less Than 3 = False
5 is Greater Than or equal to 3 = True
5 is Less Than or equal to 3 = False

#3. Logical Operators

In [ ]:
x : bool = True
y : bool = False

#and	Returns True if both conditions are
print(x and y) #False Because one condition is False

#or	Returns True if at least one condition is True
print(x or y) #True Because there is atleast one condition true

#not	Reverses the condition (True → False, False → True)
print(not x) #True Because it reverses the condition
print(not y) #True Because it reverses the condition

False
True
False
True

#4. Assignment Operators

In [ ]:
# = Assigns value to a variable
x = 10

# += Adds and Assigns value
x += 5
print(x)

# -+ Substracts and Assigns value
x -= 5
print(x)

# *= Multiplies and Assigns value
x *= 5
print(x)

# /= Divides and Assigns value
x /= 5
print(x)

# //= Floors Division and Assigns value
x //= 5
print(x)

# %= Modulus and Assigns value
x %= 5
print(x)

# **= Exponentials and Assigns value
x **= 5
print(x)

15
10
50
10.0
2.0
2.0
32.0

#5. Identity Operators

In [ ]:
a: list = [6, 7, 8]
b: list = [6, 7, 8]
c: list = a


# is Operator: Returns True if both variables point to the same object
# is not Operator:	Returns True if both variables point to different objects

print(a is c)
print(a is b)

print(a == b) #Same Value so True
print(a is not b) #True both points diff: objects

# The id() function in Python returns the memory address of an object.
print(f"{id(a)} | {id(b)} | {id(c)}")

True
False
True
True
132833171063296 | 132833170936256 | 132833171063296

#6. Membership Operators
Membership operators check if a value exists in a sequence (like a list, tuple, string, or dictionary).

In [2]:
# in:  Returns True if the value is found in the sequence
# not in: Returns True if the value is not in the sequence

# Using 'in'
numbers = [1, 2, 3, 4, 5]
print(3 in numbers)  # True

# in checks if an element exists in a sequence.

text = "hello"
print("h" in text)

# not in checks if an element does NOT exist.
data = {"name": "Shariq", "age": 20}
print("name" not in data) # False because name is present in sequence

# membership operators in disc lists (Only checks keys, not values).

True
True
False

# Python Keywords
Python keywords are reserved words that have special purpose and cannot be used as name of variables, functions or classes.

In [7]:
import keyword

# Line continuation (`\`) allows printing a statement over multiple lines, improving code readability without breaking the string.
print("The list of  \
keywords is : ")

# printing all keywords at once using "kwlist()"
print(keyword.kwlist)

The list of  keywords is :
['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

# Python Variables
Variables are names assigned to values to store them and use during program execution.
1. Only letters, numbers and underscore(_).
2. Can't Start with Number.
3. Can't use reserved keywords like if, else, False
4. Case Sensitive (myName and myname are different).

## Variable Naming Convention

1.   **snake_case** are used for	Variables & functions. Ex:	user_name, total_price
2.   **CamelCase** are used for	Classes	BankAccount, Ex: DataScienceModel
3.   **UPPER_CASE** are used for	Constants Ex:	MAX_SPEED, PI
4.   **_single_underscore** are used for	Private variable (by convention)  Ex:	_config
5.   **__double_underscore** are used for	Name mangling (avoid external access) Ex:	__password
6. **__dunder__** are used for	Special methods Ex:	__init__, __str__

# Assigning Defferent Values

In [10]:
x, y, z = 1, 2.5, "Python"

print(x, y, z)

1 2.5 Python

In [11]:
# x: int, y: float, z: str = 1, 2.5, "Python" # Using type hints while assigning mutiple variables simultaneously cause and error invalid syntax

print(x, y, z)

SyntaxError: invalid syntax (<ipython-input-11-1b71593066e5>, line 1)

# Delete a Variable Using del Keyword

In [14]:
x = 10
print(x)

del x
# print(x) will appear error becuase there is no variable as it is deleted.

10